<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>about</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div class="container" style="text-align: center">
        {% include 'navbar.html' %}
        <h1>About to our Website</h1>
        <p>According to the U.S. State Department, U.S. regulations were created to assist in the formation of NGOs. These regulations have no bias as to the value of any NGO or the kind of work that it does.
            2NGOs focus on a wide range of issues and areas. These might include women's rights, the health of the environment and planet, healthcare, political advocacy, labor unions, religious faith, care of aging adults, and youth empowerment.
            While the government is not involved in the activities of NGOs, U.S. law normally regulates them via their filing of information returns that show an NGO's funding, management, and activities
        </p>
    </div>
    <form action="">
        {{form.as_p}}
    </form>
    
        <script src="" async defer></script>
    </body>
</html>